@import "./variables";

%container {
  padding: 1em;
  padding-top: 2rem;
  margin-top: 2rem;
  background-color: #dedede;
  height: 100%;

  @media screen and (min-width: $sm) {
    padding: 2rem;
  }
}
