<header>
  <div class="brand-icon">
    <img src="assets/bowen_logo.png" alt="bowen_logo" />
  </div>

  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard/application">
          Application
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard/payment">
          Payments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard">Signout</a>
      </li>
    </ul>
  </nav>
</header>
