<header>
  <div class="brand-icon">
    <img src="assets/bowen_logo.png" alt="bowen_logo" />
  </div>

  <nav [class.show-nav]="showNav" (click)="toggleShowNav()">
    <p id="nav-open">&#9776;</p>
    <ul>
      <li id="nav-close" class="nav-item">&times;</li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard/application">
          Application
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Payments </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard/profile">
          Profile (Yinka)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/logout">Signout</a>
      </li>
    </ul>
  </nav>
</header>
