<app-dashboard-header></app-dashboard-header>
<section class="container">
  <div class="breadcrumb">
    <img src="assets/icons/folder-open.svg" alt="application_icon" />
    <h4>Application</h4>
    <p class="small-letter">
      <a href="#" routerLink="/dashboard">Dashboard</a> /
      <span class="inactive"> Application </span>
    </p>
  </div>

  <!-- Application Table -->
  <table>
    <tr>
      <th>S/N</th>
      <th>Title</th>
      <th>Application ID</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </table>
</section>
